/*---- post.php for author role ----*/
#categorydiv{
    display: none !important;
}
#tagsdiv-post_tag{
    display: none !important;
}
label[for=categorydiv-hide], label[for=tagsdiv-post_tag-hide]{
    display: none !important;
}
#screen-options-wrap, #screen-options-link-wrap{
    display: none !important;
}
#postexcerpt, #slugdiv{
    display: block !important;
}
#trackbacksdiv, #postcustom, #commentstatusdiv, #commentsdiv{
    display: none !important;
}
/*---- edit.php for author role ----*/