/*-------- form & input &search-form & geo-form --------*/
.search-form{
	display: inline;
}
.search-field{
	border-radius: 100px;
	border:2px solid;
	border-color: #ffcc00;
}
.index-search{
	padding-top:10px;
}
.input-little{
	height: 25px !important;
	width: 120px;
	position: absolute;
	right:5px;
	top:0;
	border-width:0 !important;
	padding: 6px 12px;
	font-size: 12px
}
.input-little:focus,
.input-little:hover{
	width: 100% !important;
	background-color: white;
	left:0;
}
div .search-btn{
	border-radius: 100px;
	border: 1px solid #F26522;
	margin-top: 5px;
	float: right;
}
.input-theme, .layui-form-select .layui-input{
	border: 1px solid #F26522;
}
.input-round, .layui-form-select .layui-input{
	border-radius: 100px;	
}
.geo-form{
	margin:60px 0;
}
@media (max-width: 991px){
    .geo-form{
	   margin:10px 0;
    }
}
#geo-form-inside .form-group{
	margin-bottom: 5px;
}
@media (max-width: 991px) {
	#geo-form-inside .form-group{
		padding-left: 5px;
		padding-right:5px;
	}
}
.geoform-select{
	padding-left: 10px;
}
.ggmap-auto{
    width:100%;
    margin-top: 5px;
}
.layui-form .layui-input-block{
	margin-left:0;
	min-height: 34px
}
.layui-form-select{
	height: 34px;
	margin-top: 5px;
}
.layui-form .layui-input{
	font-size: 14px;
	height: 34px;
	line-height: 20px
}
/*-------- select2 --------*/
/* .select2-selection{
	border-radius: 100px !important;
	border: 1px solid #F26420 !important;
	background-color: white;
	margin-top: 5px;
	height: 34px !important;
	vertical-align: middle;
	font-size: 14px;
}
.select2-selection__arrow{
	display: none !important;
}
.select2-selection__rendered{
	padding-top:6px;
	padding-bottom: 6px;
	padding-left: 10px !important;
	padding-right: 6px !important;
	line-height: 20px  !important;
}
.select2-search--dropdown{
}
.select2-search__field{
} */